@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;900&display=swap");

:root {
  --orange: #f5802a;
  --black: #000000;
  --white: #ffffff;
  --gray: #f6f8ff;
  --icon-size: 3rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

main p {
  font-size: 23px;
}

.hero {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%) contrast(90%);
  z-index: -1;
}

.hero__content {
  text-align: center;
  color: var(--white);
}

.hero__logo {
  width: 35%;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 2rem;

}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: var(--gray);
}

.about__text {
  width: 50%;
  color: var(--black);
}

.about__heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about__image {
  width: 30%;
  object-fit: cover;
  margin-left: 80px;
}

.vision {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
  height: 50vh;
}

.vision__item {
  width: 30%;
  text-align: center;
}

.vision__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.vision__icon {
  color: var(--orange);
  font-size: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.vision__heading {
  font-size: 2rem;
  color: var(--black);
}

.antecedent {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
}

.antecedent__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
  z-index: -1;
}

.antecedent__content {
  z-index: 1;
  width: 70%;
}

.antecedent__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


@media only screen and (max-width: 1024px) {
  .hero__logo {
    width: 70%;
  }

  .hero__subtitle {
    font-size: 1.5rem;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about__text,
  .about__image {
    width: 90%;
    padding: 2rem 0;
    margin: auto;
  }

  .vision {
    flex-direction: column;
    height: auto;
  }

  .vision__item {
    width: 90%;
    padding: 2rem 0;
  }

  .vision__icon {
    color: var(--orange);
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .antecedent {
    height: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .antecedent__title {
    font-size: 35px;
  }
}