.footer-container {
  width: 100vw;
  padding: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #FFFFFF;
  background-color: #55565F
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 25px;
}

.footer-social a {
  color: #FFFFFF;
  text-decoration: none;
}

.footer-social > * + * {
  margin-left: 3rem;
}

.footer-logo {
  height: 50px;
}
