.hamburger-main-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out;
  pointer-events: none;
  z-index: 999;
}

.hamburger-main-container.open {
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-container {
  height: 100vh;
  display: inline-block;
  padding: 2rem;
  background-color: #FFFFFF;
  transform: translateX(-100%);
  transition: transform 600ms ease-in-out;
}

.hamburger-container.open {
  transform: translateX(0);
}

.hamburger-elements {
  display: flex;
  flex-direction: column;
}

.hamburger-elements a {
  color: #3B3B3B;
  text-decoration: none;
  transition: all 600ms ease-out;
  font-size: 18px;
}

.hamburger-elements a:hover {
  color: #F5802A;
}

.hamburger-elements .navbar-button {
  margin-bottom: 2rem;
}

.hamburger-elements>*+* {
  margin-bottom: 2rem;
}

.hamburger-close-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .hamburger-main-container {
    display: none;
  }
}